body {

    background-image: url('../imagen/a.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen de fondo cubra toda la ventana del navegador */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    /* Otros estilos */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}
