body {

    background-image: url('../imagen/resumen-superficie-texturas-muro-piedra-hormigon-blanco.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}




.jumbotron {
    background-image: url('../imagen/resumen-superficie-texturas-muro-piedra-hormigon-blanco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    border: 2px solid #ddd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    height: 100px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    border-radius: 8px;
    padding: 12px 16px;
    text-decoration: none;
    color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #333;
    color: #ffffff;
    border-radius: 8px;
}






.btn-custom {
    font-size: 24px;
    padding: 10px 20px 10px 40px;
    border-radius: 8px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    transition: all 0.3s ease;
    margin: 10px;
    height: 40px;
    line-height: 1;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    background-image: url('../imagen/volver.png');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.btn-custom:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom-with-image {
    font-size: 24px;
    padding: 10px 20px 10px 40px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    margin: 10px;
    height: 40px;
    line-height: 1;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    background-image: url('../imagen/intimidad.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
}


.btn-custom-with-image:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}




.btn-sm {
    padding: 10px 20px;
}
body {
    background-color: #ffffff;
}


.table th,
.table td {
    color: white;
}
.table {
    background-color: black;
    color: white;
}


.table th,
.table td {
    background-color: black;
    color: white;
}

.botones-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tabla-container {
    margin-top: 20px;
}


label {
    margin-right: 10px;
}

input[type="text"],
button {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#mensajeNoResultados {
    color: red;
    font-style: italic;
    margin-top: 10px;
}
