body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #000;
    color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

span {
    display: block;
    margin-bottom: 5px;
    color: #fff; 
}

h\\:inputText {
    width: 100%;
    padding: 20px; 
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 20px; 
    font-size: 18px; 
    color: #333;
}


.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.button-volver, 
.button-submitir {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.ui-message-error, .ui-message-info, .ui-message-warn, .ui-message-fatal {
    color: black !important;
}


.button-volver {
    background-color: #007bff;
}

.button-submitir {
    background-color: #007bff;
}

.button-submitir:hover, .button-volver:hover {
    filter: brightness(90%);
}

